
**Question 1: Use IF ELSE & Elif to write a program to write for your report cards.**

In [ ]:

  A- if %<=85 and >80
  B if %<=80 and >70
  C if %<=70 and >60
  D if %<=60 and >40
E if %<=40 and also should print 'candidate failed' if %<=35

msg = 'enter the percentage of student:'
print(msg)
a = raw_input()
a = int(a.strip())
if(a>85):
  print('Grade - \'A\'')

  elif(a>60 and a<=70):
    print('Grade - \'C\'')

  elif(a>40 and a<30):
    print('Grade - \'E\'')

**Question 2: Using for loop to print prime numbers in between 1 to 1000.**

In [ ]:
lowest int(input("Enter lowest prime number:"))
highest int(input("Enter highest prime number:"))
for num in range(lowest,highest+1):
  if num>1:
    for i in range(99,num):
      if(num%i)==0:
        break
    else:
      print(num)

**Question 3: Write a program for printing the tables from 1,10 using nested for loop.**

In [5]:
num= int(input("Enter the number:"))
print("multiplication table of,num")
for i in range(1,11):
  print(num, "x",i,"=", num*i)

Enter the number:3
multiplication table of,num
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

**Question 4: Write a program to print x prime numbers using while loop starting from 0 and take the Input of x from the user.**

In [6]:
i=1
while i<5:
  print(i)
  i+=1

1
2
3
4